.logo_cadre {
  height: 50px;
}

.photographe_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  align-items: center;
  padding: 50px;
  height: 313px;
}

.photographe_header .img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background-color: #db8876;
}

.modal {
  background-color: #db8876;
  margin: auto;
  padding: 30px;

  width: 100%;
  max-width: 50%;
  height: 90vh;
  max-height: 700px;
  border: #fafafa;
  position: fixed;
  bottom: 0;
  left: 0;
}
.modal-close-btn {
  background: none;
  border: none;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  margin-bottom: 26px;
}

#photographer_name {
  color: #000;
  font-size: 64px;
  font-weight: 400;
}

.text-control {
  font-size: 28px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}
.text-control textarea {
  height: 100px;
  resize: vertical;
}
/* Style pour la liste déroulante */

select {
  padding: 15px;
  font-size: 20px;
  border: #901c1c;
  background: #901c1c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0px 60px 20px;

  outline: none;
}

.media {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.media-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  color: #901c1c;
  font-size: 24px;
}

figcaption {
  display: flex;
  justify-content: space-between;
}

figcaption span {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
}
figure {
  width: 350px;
  height: 300px;
}
figcaption .likes {
  margin: 10px;
}

.likes-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background: #db8876;
  width: 376px;
  height: 89px;
  margin-left: 1100px;
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.likes-icon {
  display: flex;
}
.likes {
  margin-right: 10px;
}
