@import url("photographer.css");
@import url("lightbox.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1224px;
  margin: auto;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 40px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.photographer_section article img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;

  cursor: pointer;
}
.photographer_section article h3 {
  color: #901c1c;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.photographer_section article p {
  color: #000;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}

.photographer_section article span {
  color: #757575;
  text-align: center;
  font-size: 9px;
  font-weight: 400;
}

.name {
  color: #d3573c;
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 400;
  margin-left: 40px;
}
.location {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
  margin-left: 40px;
}
.tagline {
  color: #525252;
  font-size: 18px;
  font-weight: 400;
  margin-left: 40px;
}
.photographer_photo {
  background: #d3573c;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

.image-container.clicked img {
  border: 4px solid #901c1c;
}
